<head>
	<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}" />
</head>

<body>
	<div id=welcomeBox>
		<h1>Calendar Application</h1>
		<p>
			Random text for random people. Random text for random people. Random text for random people. Random text for random people.
			Random text for random people. Random text for random people. Random text for random people. Random text for random people.
			Random text for random people. Random text for random people. Random text for random people. Random text for random people.
			Random text for random people. Random text for random people. Random text for random people. Random text for random people.
			Random text for random people. Random text for random people. Random text for random people. Random text for random people.
			Random text for random people. Random text for random people. Random text for random people. Random text for random people.
			Random text for random people. Random text for random people. Random text for random people. Random text for random people.
			Random text for random people. Random text for random people. Random text for random people. Random text for random people.
			Random text for random people. Random text for random people. Random text for random people. Random text for random people.
			Random text for random people. Random text for random people. Random text for random people. Random text for random people.
		</p>
		<span id=login>	
		<a href="@{Application.index()}">login</a> or <a href="@{Application.index()}">register</a>
		</span>
	</div>
</body>