#{extends 'main.html' /}
#{set title:'Home' /}
<head>
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/calendar.css'}" />
</head>

<body>
<div id=userBox>
	<div id=usersCalendars>
	<h2>${user.name}'s Calendars</h2>
	#{list items:cals, as:'cal'}
		<li>
		<a href="@{Application.displayEvents(user.name, cal.name)}">${cal.name} Calendar</a>
		</li>
	#{/list}
	</div>
	
	<div id=createCalendarBox>
			<div id=createCalendar>
		#{form @Application.createCalendar()}
			<p>
				<label for="calendarName">Calendar Name: </label> </br>
				<input type="text" name="calendarName"/>
				<input type="submit" value="create Calendar">
			</p>
		#{/form}
		</div>
	</div>
</div>

<div id=otherUsers>
<h2>Other users</h2>
#{list items:users, as:'user'}
	<p>
		<a href="@{Application.displayCalendars(user.name)}">${user.name}'s Calendars</a> 
	</p>
#{/list}
</div>

</br>

<div id=logout>
<a href="@{Secure.logout()}">logout</a>
</div>

</body>