#{extends 'main.html' /}
#{set title:'Home' /}

<div>
<h1 style="background:grey">${user.name}'s Calendars</h1>
#{list items:cals, as:'cal'}
	<li>
	<a href="@{Application.displayEvents(user.name, cal.name)}">${cal.name} Calendar</a>
	</li>
#{/list}
</div>


<div>
#{form @Application.createCalendar()}
	<p>
		<label for="calendarName">Calendar Name: </label> </br>
		<input type="text" name="calendarName"/>
	</p>
	<p>
		<input type="submit" value="create Calendar">
	</p>
#{/form}
</div>

</br>

<div>
<h2 style="background:grey">Other users</h2>
#{list items:users, as:'user'}
	<p>
		<a href="@{Application.displayCalendars(user.name)}">${user.name}'s Calendars</a> 
	</p>
#{/list}
</div>

</br>

<a href="@{Secure.logout()}">logout</a>